<header>
    <nav>
        <div class="container-sony flex">
            <img src="./assets/sony_logo.svg" alt="">
        </div>
        <div class="flex container-main">
            <div>
                <img class="img-logo" src="./assets/logo.png" alt="">
            </div>
            <div class="flex container-main-links">
                <ul class="flex">                 
                    <li>
                        <a href="">Jogos</a>
                    </li>
                    <li>
                        <a href="">PS5</a>
                    </li>
                    <li>
                        <a href="">PS4</a>
                    </li>
                    <li>
                        <a href="">Serviços</a>
                    </li>
                    <li>
                        <a href="">Acessórios</a>
                    </li>
                    <li>
                        <a href="">Notícias</a>
                    </li>
                    <li>
                        <a href="">Loja</a>
                    </li>
                    <li>
                        <a href="">Suporte</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex container">
            <div>
                <img class="img-ps-logo" src="./assets/ps-logo.png" alt="">
            </div>
            <div class="flex container-links">
                <ul class="flex">
                    <li><a href="">Novidades</a></li>
                    <li><a href="">Coleções</a></li>
                    <li><a href="">Pfertas</a></li>
                    <li><a href="">Navegar</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>